header{
    padding: 50px;
    background-color: rgb(94, 194, 161);
    display: flex;
    justify-content: center;    
}
nav{
        display: flex;
    justify-content: space-around;
   
     flex-wrap: wrap;
    background-color: antiquewhite;
}

    nav a {
        width: 250px;
        margin-left: 5px;
        padding: 10px;
        background-color: rgb(114, 255, 255);
        color: black;
        border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: large;
    }
    .activo{
        background-color: rgb(60, 255, 190);
    
    }
    nav a:hover{
        box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.6);
    }
    main{
      display: flex;
      justify-content: center;
    }
    .text{max-width: 960px;
         width: 100%;
        padding: 20px;
        color: rgb(255, 90, 90);
        }
        h3{
            text-decoration: underline double rgb(255, 90, 90) 1px;
        }
.text p {
    color: black;
    font-size: large;
}
.cont{
    font-size: x-large;
    color: black    ;
}
.item{
    text-decoration: none;
    color: red;
}